body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px; /* Unifica el tamaño */
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

input {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

button {
    background: linear-gradient(to right, #0066cc, #003366);
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 6px;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #0066cc, #003366);
}

p {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}
